<?php

$block->loadData();
//$id = $this->getRequest()->getParam('id');
echo "<br>";
echo "<div style='font-size: 20px;'>";
echo "Tipo: ".$block->getTipo()."<br>";
echo "<br>";
$contenuto = $block->getContenuto();

if(array_key_exists("percentage", $contenuto)){
    ?>
    <style>
    #ProgressBar {
        position: relative;
        width: 100%;
        height: 30px;
        background-color: #ddd;
    }

    #Bar {
        position: absolute;
        width: <?= $contenuto['percentage'] ?>%;
        height: 100%;
        background-color: #4CAF50;
    }

    #label {
        text-align: center;
        line-height: 30px;
        color: white;
    }
    </style>
    <div id="ProgressBar">
        <div id="Bar">
            <div id="label"><?= $contenuto['percentage'] ?>%</div>
        </div>
    </div>
    <script>
    move();
    var stop = false;
    function move() {
        var width = <?= $contenuto['percentage'] ?>;
        var id = setInterval(frame, 3000);
        function frame() {
            if(width<100 && !stop){
                location.reload();
                stop = true;
            } else {
                clearInterval(id);
            }
        }
    }
    function stopReload() {
        stop = true;
        window.history.back();
    }
    </script><br><br>
<?php
} else {
    ?>
    <script>
        function stopReload() {
            window.history.back();
        }
    </script>
    <?php
}
?>
<table style="border-spacing: 10px; border-collapse: separate;">
    <tr>
        <th style="width: 220px;">Orario</th>
        <th>Messaggio</th>
    </tr>
<?php

foreach ($contenuto as $value){
    if(is_array($value)){
        $time = date("d/m/Y H:i:s", strtotime($value['time'])+120*60);
        echo "<tr><td>[".$time."]</td><td>".$value['messaggio']."</td></tr>";
    }
}
echo "</table><a href='#' onclick='stopReload()'>Torna Indietro</a>";
echo "</div>";
?>