<?php

echo $block->sayHello();

echo "<br>";
//echo $block->importButton();
$url = $block->getUrl('quickimport/home/ImportIncremental');
$url_heavy = $block->getUrl('quickimport/home/ImportTotal');
$url_reserved = $block->getUrl('quickimport/home/ReservedQty');
?>

<div class="action-wrap action-wrap-next">
	<button id="save" type="button"
		class="button action continue primary"
		onclick="window.location.href='<?= $block->escapeHtml($url) ?>'">
		<span><?= $block->escapeHtml(__('Import Incrementale')) ?></span>
	</button>
</div>

<div class="action-wrap action-wrap-next">
	<button id="save" type="button"
		class="button action continue primary"
		onclick="window.location.href='<?= $block->escapeHtml($url_heavy) ?>'">
		<span><?= $block->escapeHtml(__('Import Totale')) ?></span>
	</button>
</div>
<div class="action-wrap action-wrap-next">
    <button id="save" type="button"
            class="button action continue primary"
            onclick="window.location.href='<?= $block->escapeHtml($url_reserved) ?>'">
        <span><?= $block->escapeHtml(__('Cron Reserved Qty')) ?></span>
    </button>
</div>